.card {
  position: relative;
  &-link {
    position: relative;
    margin: auto;
    &_users{
      position: absolute;
      bottom: 3em;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}
