.grid {
  &-auth {
    display: grid;
    grid-template-columns: 1fr minmax(290px, 1fr) 1fr;
    grid-template-rows: 1fr minmax(310px, 1fr) 1fr;
    grid-template-areas: ". . ." ". login ." ". . .";
    width: 100vw;
    height: 100vh;
  }
  &-dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;
    &_main {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: minmax(120px, 1fr) auto 64px;
      // height: 100vh;
    }
  }
  &-display {
    &_card {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 1em;
    }
  }
}
