.menu {
  &-container {
    grid-row: 2/3;
  }
  &-list {
    &-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      justify-items: center;
      padding-left: 1em;
      padding-right: 1em;
    }
    &-item {
      margin: 0 1em;
      padding: 0.5em;
      border: 1px solid grey;
      @extend .btn;
      @extend .btn-primary;
    }
    &-icon {
      margin-right: 1em;
    }
  }
}
